:root {
    --dimensions: 66.66px;
}

/* MARK: algemeen */
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    background-color: #a4a4a4;
    perspective: 50em;
    margin: 0;
    font-family: sans-serif;
    gap: 20px
}

nav {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 10px;
    padding: 15px;
    z-index: 10;
    top: 0;
}

/* MARK: Typografie */
section h2 {
    font-size: 1em;
}

/* MARK: Rubics Cube */
section:has(div) {
    width: 100%;
    height: 60dvh;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(30deg);
}


/* Met hulp van CHatGPT om de opbouw te bepalen van de cubes */
/* Hoe kan ik de mini-cubes zelf 3D krijgen zonder een moeilijk systeem te bouwen die zichzelf herhaalt? */
/* Antwoord: Leuk idee wat je wilt maken! Helaas kan het niet zonder herhaling, maar ik ga je helpen om de kubussen van jouw Rubiks kubus 3D te krijgen. Elke mini-kubus moet dezelfde obouw krijgen als de grote kubus, elk met verschillende kanten. */
section div[style*="--x"] {
    position: absolute;
    width: var(--dimensions);
    height: var(--dimensions);
    transform-style: preserve-3d;

    /* Zowel --base-pos als de transition heb ik met behulp van ChatGPT gedaan en Internet */
    --base-pos: translate3d(calc(var(--x) * var(--dimensions) - 66.66px),
            calc(var(--y) * var(--dimensions) - 66.66px),
            calc((var(--z) - 1) * var(--dimensions)));

    /* Link naar bron: https://www.w3schools.com/cssref/func_cubic-bezier.php */
    transform: rotateX(var(--xAxis, 0deg)) rotateY(var(--yAxis, 0deg)) var(--base-pos);
    transition: transform 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

/* De vlakken van de blokjes */
section div div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 0.5em;
    box-sizing: border-box;
}

/* MARK: Bolkjes kleuren */
section div div:nth-child(1) {
    transform: translateZ(33px);
    background-size: 60px 60px;
    background: radial-gradient(circle 4em, red, rgba(0, 0, 0, 0.774));
}

section div div:nth-child(2) {
    transform: rotateY(180deg) translateZ(33px);
    background: radial-gradient(circle 4em, orange, rgba(0, 0, 0, 0.774));
}

section div div:nth-child(3) {
    transform: rotateY(-90deg) translateZ(33px);
   background: radial-gradient(circle 4em, green, rgba(0, 0, 0, 0.774));
}

section div div:nth-child(4) {
    transform: rotateY(90deg) translateZ(33px);
    background: radial-gradient(circle 4em, blue, rgba(0, 0, 0, 0.774));
}

section div div:nth-child(5) {
    transform: rotateX(90deg) translateZ(33px);
    background: radial-gradient(circle 4em, white, rgba(0, 0, 0, 0.774));
}

section div div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(33px);
    background: radial-gradient(circle 4em, yellow, rgba(0, 0, 0, 0.774));
}

/* MARK: Control buttons */
section:nth-of-type(1),
section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5),
section:nth-of-type(6) {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    z-index: 1;
    top: 0;
}

/* MARK: Control buttons */
section:not(:has(div)) {
    margin-bottom: 0;
    /* Verwijder de oude bottom margin */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    min-width: 130px;
    z-index: 10;
}

/* De buttons zelf onzichtbaar maken */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* De labels stylen als knoppen */
label {
    padding: 2px 12px;
    background: #eee;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

}

label:hover {
    background: #ddd;
}

/* MARK: Aantal graden die de laag moet draaien wanneer er een checkbox is aangevinkt (Oude logica) */
/* body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked) section:has(span) span:nth-of-type(1),
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked) section:has(span) span:nth-of-type(2),
body:has(section:nth-of-type(3) label:nth-of-type(1) input:checked) section:has(span) span:nth-of-type(3) {
    transform: rotateY(90deg);
}

body:has(section:nth-of-type(1) label:nth-of-type(2) input:checked) section:has(span) span:nth-of-type(1),
body:has(section:nth-of-type(2) label:nth-of-type(2) input:checked) section:has(span) span:nth-of-type(2),
body:has(section:nth-of-type(3) label:nth-of-type(2) input:checked) section:has(span) span:nth-of-type(3) {
    transform: rotateY(180deg);
}

body:has(section:nth-of-type(1) label:nth-of-type(3) input:checked) section:has(span) span:nth-of-type(1),
body:has(section:nth-of-type(2) label:nth-of-type(3) input:checked) section:has(span) span:nth-of-type(2),
body:has(section:nth-of-type(3) label:nth-of-type(3) input:checked) section:has(span) span:nth-of-type(3) {
    transform: rotateY(270deg);
}

body:has(section:nth-of-type(1) label:nth-of-type(4) input:checked) section:has(span) span:nth-of-type(1),
body:has(section:nth-of-type(2) label:nth-of-type(4) input:checked) section:has(span) span:nth-of-type(2),
body:has(section:nth-of-type(3) label:nth-of-type(4) input:checked) section:has(span) span:nth-of-type(3) {
    transform: rotateY(0deg);
} */

/* MARK: Horizontaal draaien */
/* y = 0 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--y:0"] {
    --yAxis: 90deg;
}

body:has(section:nth-of-type(1) label:nth-of-type(2) input:checked) section:last-of-type div[style*="--y:0"] {
    --yAxis: 180deg;
}

body:has(section:nth-of-type(1) label:nth-of-type(3) input:checked) section:last-of-type div[style*="--y:0"] {
    --yAxis: 270deg;
}

/* y = 1 */
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--y:1"] {
    --yAxis: 90deg;
}

body:has(section:nth-of-type(2) label:nth-of-type(2) input:checked) section:last-of-type div[style*="--y:1"] {
    --yAxis: 180deg;
}

body:has(section:nth-of-type(2) label:nth-of-type(3) input:checked) section:last-of-type div[style*="--y:1"] {
    --yAxis: 270deg;
}

/* y = 2 */
body:has(section:nth-of-type(3) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--y:2"] {
    --yAxis: 90deg;
}

body:has(section:nth-of-type(3) label:nth-of-type(2) input:checked) section:last-of-type div[style*="--y:2"] {
    --yAxis: 180deg;
}

body:has(section:nth-of-type(3) label:nth-of-type(3) input:checked) section:last-of-type div[style*="--y:2"] {
    --yAxis: 270deg;
}

/* MARK: Verticaal draaien (X-as) */
/* x = 0 */
/* 1. STANDAARD: Alleen als Top, Midden-H en Bodem op RESET staan */
body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(1) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(1) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(1) input:checked) 
    section:last-of-type div[style*="--x:0"] {
    --xAxis: 90deg;
}

body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(2) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(2) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(2) input:checked) 
    section:last-of-type div[style*="--x:0"] {
    --xAxis: 180deg;
}

body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(3) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(3) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(4) label:nth-of-type(3) input:checked) 
    section:last-of-type div[style*="--x:0"] {
    --xAxis: 270deg;
}

/* x = 1 */
body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) 
    section:last-of-type div[style*="--x:1"] {
    --xAxis: 90deg;
}

body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(2) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(2) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(2) input:checked) 
    section:last-of-type div[style*="--x:1"] {
    --xAxis: 180deg;
}

body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(3) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(3) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(5) label:nth-of-type(3) input:checked) 
    section:last-of-type div[style*="--x:1"] {
    --xAxis: 270deg;
}
/* x = 2 */
body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) 
    section:last-of-type div[style*="--x:2"] {
    --xAxis: 90deg;
}

body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(2) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(2) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(2) input:checked) 
    section:last-of-type div[style*="--x:2"] {
    --xAxis: 180deg;
}

body:has(section:is(:nth-of-type(1)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(3) input:checked) 
body:has(section:is(:nth-of-type(2)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(3) input:checked) 
body:has(section:is(:nth-of-type(3)) label:nth-of-type(4) input:checked):has(section:nth-of-type(6) label:nth-of-type(3) input:checked) 
    section:last-of-type div[style*="--x:2"] {
    --xAxis: 270deg;
}


/* MARK: Combinatie draai*/

/* Gevraagt aan Gemini of mijn code korter kon: Is er een manier waarop ik niet steeds deze regels moet herhalen? misschien dat ik div[style*="--x:0; --y:2; --z:2;"],[style*="--x:0; --y:1; --z:2;"] kan doen ofzo? */
/* Gemini zei Absoluut, dat kan een stuk korter! Je kunt de body:has(...) selector één keer opschrijven en daarachter een lijst met de specifieke div selectors hangen, gescheiden door komma's. */
/* Met :is() kun je de herhaling van de body:has volledig voorkomen. Je zet de variabele onderdelen gewoon in een lijstje. */

/* MARK: Top laag */
/* Links 90 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(4) label:nth-of-type(1) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:0;"],
    [style*="--x:1; --y:0; --z:0;"],
    [style*="--x:2; --y:0; --z:0;"],
    [style*="--x:0; --y:1; --z:0;"],
    [style*="--x:0; --y:1; --z:1;"],
    [style*="--x:0; --y:1; --z:2;"],
    [style*="--x:0; --y:2; --z:0;"],
    [style*="--x:0; --y:2; --z:1;"],
    [style*="--x:0; --y:2; --z:2;"]
) {
    --xAxis: 90deg;
}

/* Links 180 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(4) label:nth-of-type(2) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:0;"],
    [style*="--x:1; --y:0; --z:0;"],
    [style*="--x:2; --y:0; --z:0;"],
    [style*="--x:0; --y:1; --z:0;"],
    [style*="--x:0; --y:1; --z:1;"],
    [style*="--x:0; --y:1; --z:2;"],
    [style*="--x:0; --y:2; --z:0;"],
    [style*="--x:0; --y:2; --z:1;"],
    [style*="--x:0; --y:2; --z:2;"]
) {
    --xAxis: 180deg;
}


/* Links 270 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(4) label:nth-of-type(3) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:0;"],
    [style*="--x:1; --y:0; --z:0;"],
    [style*="--x:2; --y:0; --z:0;"],
    [style*="--x:0; --y:1; --z:0;"],
    [style*="--x:0; --y:1; --z:1;"],
    [style*="--x:0; --y:1; --z:2;"],
    [style*="--x:0; --y:2; --z:0;"],
    [style*="--x:0; --y:2; --z:1;"],
    [style*="--x:0; --y:2; --z:2;"]
) {
    --xAxis: 270deg;
}

/* Midden 90 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:1;"],
    [style*="--x:1; --y:0; --z:1;"],
    [style*="--x:2; --y:0; --z:1;"],
    [style*="--x:1; --y:1; --z:0;"],
    [style*="--x:1; --y:1; --z:2;"],
    [style*="--x:1; --y:2; --z:0;"],
    [style*="--x:1; --y:2; --z:1;"],
    [style*="--x:1; --y:2; --z:2;"]
) {
    --xAxis: 90deg;
}

/* Midden 180 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(2) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:1;"],
    [style*="--x:1; --y:0; --z:1;"],
    [style*="--x:2; --y:0; --z:1;"],
    [style*="--x:1; --y:1; --z:0;"],
    [style*="--x:1; --y:1; --z:2;"],
    [style*="--x:1; --y:2; --z:0;"],
    [style*="--x:1; --y:2; --z:1;"],
    [style*="--x:1; --y:2; --z:2;"] 
) {
    --xAxis: 180deg;
}

/* Midden 270 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(3) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:1;"],
    [style*="--x:1; --y:0; --z:1;"],
    [style*="--x:2; --y:0; --z:1;"],
    [style*="--x:1; --y:1; --z:0;"],
    [style*="--x:1; --y:1; --z:2;"],
    [style*="--x:1; --y:2; --z:0;"],
    [style*="--x:1; --y:2; --z:1;"],
    [style*="--x:1; --y:2; --z:2;"] 
) {
    --xAxis: 270deg;
}

/* Rechts 90 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:2;"],
    [style*="--x:1; --y:0; --z:2;"],
    [style*="--x:2; --y:0; --z:2;"],
    [style*="--x:2; --y:1; --z:2;"],
    [style*="--x:2; --y:1; --z:1;"],
    [style*="--x:2; --y:2; --z:0;"],
    [style*="--x:2; --y:2; --z:2;"],
    [style*="--x:2; --y:2; --z:1;"],
    [style*="--x:2; --y:2; --z:0;"] 
) {
    --xAxis: 90deg;
}

/* Rechts 180 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(2) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:2;"],
    [style*="--x:1; --y:0; --z:2;"],
    [style*="--x:2; --y:0; --z:2;"],
    [style*="--x:2; --y:1; --z:2;"],
    [style*="--x:2; --y:1; --z:1;"],
    [style*="--x:2; --y:1; --z:0;"],
    [style*="--x:2; --y:2; --z:2;"],
    [style*="--x:2; --y:2; --z:1;"],
    [style*="--x:2; --y:2; --z:0;"]
) {
    --xAxis: 180deg;
}

/* Rechts 270 */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(3) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:2;"],
    [style*="--x:1; --y:0; --z:2;"],
    [style*="--x:2; --y:0; --z:2;"],
    [style*="--x:2; --y:1; --z:2;"],
    [style*="--x:2; --y:1; --z:1;"],
    [style*="--x:2; --y:1; --z:0;"],
    [style*="--x:2; --y:2; --z:2;"],
    [style*="--x:2; --y:2; --z:1;"],
    [style*="--x:2; --y:2; --z:0;"]
) {
    --xAxis: 270deg;
}

/* MARK: Midden laag */
/* Links 90 */
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(4) label:nth-of-type(1) input:checked) 
section:last-of-type div:is(
    [style*="--x:0; --y:0; --z:0;"],
    [style*="--x:0; --y:0; --z:1;"],
    [style*="--x:0; --y:0; --z:2;"],
    [style*="--x:2; --y:1; --z:0;"],
    [style*="--x:1; --y:1; --z:0;"],
    [style*="--x:0; --y:1; --z:0;"],
    [style*="--x:0; --y:2; --z:0;"],
    [style*="--x:0; --y:2; --z:1;"],
    [style*="--x:0; --y:2; --z:2;"]
) {
    --xAxis: 90deg;
}

/* Midden laag 90 + Midden 90 */
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:0; --y:0; --z:1;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:1; --y:0; --z:1;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:0; --z:1;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:1; --y:1; --z:0;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:1; --y:1; --z:2;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:1; --y:2; --z:0;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:1; --y:2; --z:1;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:1; --y:2; --z:2;"] {
    --xAxis: 90deg;
}

/* Midden laag 90 + Rechts 90 */
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:0; --y:0; --z:2;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:1; --y:0; --z:2;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:0; --z:2;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:1; --z:2;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:1; --z:1     ;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:2; --z:0;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:2; --z:2;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:2; --z:1;"],
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked):has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:last-of-type div[style*="--x:2; --y:2; --z:0;"] {
    --xAxis: 90deg;
}

/* MARK: Als gechecked: toon één, verberg de andere */
body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked) section:nth-of-type(1) label:nth-of-type(1),
body:has(section:nth-of-type(1) label:nth-of-type(2) input:checked) section:nth-of-type(1) label:nth-of-type(2),
body:has(section:nth-of-type(1) label:nth-of-type(3) input:checked) section:nth-of-type(1) label:nth-of-type(3),
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked) section:nth-of-type(2) label:nth-of-type(1),
body:has(section:nth-of-type(2) label:nth-of-type(2) input:checked) section:nth-of-type(2) label:nth-of-type(2),
body:has(section:nth-of-type(2) label:nth-of-type(3) input:checked) section:nth-of-type(2) label:nth-of-type(3),
body:has(section:nth-of-type(3) label:nth-of-type(1) input:checked) section:nth-of-type(3) label:nth-of-type(1),
body:has(section:nth-of-type(3) label:nth-of-type(2) input:checked) section:nth-of-type(3) label:nth-of-type(2),
body:has(section:nth-of-type(3) label:nth-of-type(3) input:checked) section:nth-of-type(3) label:nth-of-type(3),
body:has(section:nth-of-type(4) label:nth-of-type(1) input:checked) section:nth-of-type(4) label:nth-of-type(1),
body:has(section:nth-of-type(4) label:nth-of-type(2) input:checked) section:nth-of-type(4) label:nth-of-type(2),
body:has(section:nth-of-type(4) label:nth-of-type(3) input:checked) section:nth-of-type(4) label:nth-of-type(3),
body:has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:nth-of-type(5) label:nth-of-type(1),
body:has(section:nth-of-type(5) label:nth-of-type(2) input:checked) section:nth-of-type(5) label:nth-of-type(2),
body:has(section:nth-of-type(5) label:nth-of-type(3) input:checked) section:nth-of-type(5) label:nth-of-type(3),
body:has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:nth-of-type(6) label:nth-of-type(1),
body:has(section:nth-of-type(6) label:nth-of-type(2) input:checked) section:nth-of-type(6) label:nth-of-type(2),
body:has(section:nth-of-type(6) label:nth-of-type(3) input:checked) section:nth-of-type(6) label:nth-of-type(3) {
    display: none;
}

body:has(section:nth-of-type(1) label:nth-of-type(1) input:checked) section:nth-of-type(1) label:nth-of-type(2),
body:has(section:nth-of-type(1) label:nth-of-type(2) input:checked) section:nth-of-type(1) label:nth-of-type(3),
body:has(section:nth-of-type(1) label:nth-of-type(3) input:checked) section:nth-of-type(1) label:nth-of-type(4),
body:has(section:nth-of-type(2) label:nth-of-type(1) input:checked) section:nth-of-type(2) label:nth-of-type(2),
body:has(section:nth-of-type(2) label:nth-of-type(2) input:checked) section:nth-of-type(2) label:nth-of-type(3),
body:has(section:nth-of-type(2) label:nth-of-type(3) input:checked) section:nth-of-type(2) label:nth-of-type(4),
body:has(section:nth-of-type(3) label:nth-of-type(1) input:checked) section:nth-of-type(3) label:nth-of-type(2), 
body:has(section:nth-of-type(3) label:nth-of-type(2) input:checked) section:nth-of-type(3) label:nth-of-type(3),
body:has(section:nth-of-type(3) label:nth-of-type(3) input:checked) section:nth-of-type(3) label:nth-of-type(4),
body:has(section:nth-of-type(4) label:nth-of-type(1) input:checked) section:nth-of-type(4) label:nth-of-type(2),
body:has(section:nth-of-type(4) label:nth-of-type(2) input:checked) section:nth-of-type(4) label:nth-of-type(3),
body:has(section:nth-of-type(4) label:nth-of-type(3) input:checked) section:nth-of-type(4) label:nth-of-type(4),
body:has(section:nth-of-type(5) label:nth-of-type(1) input:checked) section:nth-of-type(5) label:nth-of-type(2),
body:has(section:nth-of-type(5) label:nth-of-type(2) input:checked) section:nth-of-type(5) label:nth-of-type(3),
body:has(section:nth-of-type(5) label:nth-of-type(3) input:checked) section:nth-of-type(5) label:nth-of-type(4),
body:has(section:nth-of-type(6) label:nth-of-type(1) input:checked) section:nth-of-type(6) label:nth-of-type(2),
body:has(section:nth-of-type(6) label:nth-of-type(2) input:checked) section:nth-of-type(6) label:nth-of-type(3),
body:has(section:nth-of-type(6) label:nth-of-type(3) input:checked) section:nth-of-type(6) label:nth-of-type(4) {
    display: block;
}

section label {
    display: none;
}

section label:nth-of-type(1) {
    display: block;
}
